<header class="h-16 relative flex-shrink-0 flex items-center justify-between px-6 header">
  <div class="absolute bottom-0 left-0 w-full z-50">
    @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" color="primary">
    </mat-progress-bar>
    }
  </div>
  <div class="logo">
    <img
      [src]="(isDarkMode() ? 'assets/images/ultron-icon-text-only.png' : 'assets/images/ultron-icon-text-only-light.png')"
      class="logo-image" alt="logo">
  </div>
  <div class="flex items-center gap-2">
    <button matIconButton aria-label="Example icon button with a vertical three dot icon"
      (click)="themeService.toggleTheme()">
      <mat-icon>{{isDarkMode() ? light_mode : dark_mode}}</mat-icon>
    </button>
    <div class="p-3 flex-shrink-0">
      @if (user$ | async; as user) {
      <div class="relative p-2 rounded-md w-full flex items-center gap-3 cursor-pointer">
        <img [src]="user.profilePic ? user.profilePic : 'assets/images/profile.png'" class="w-8 h-8 rounded-full"
          alt="User Profile Picture" />
        <div class="nav-text">
          <p class="font-medium">{{ user.name }}</p>
          <p class="text-xs">Free Plan</p>
        </div>
      </div>
      } @else {
      <div class="p-2">
        <app-pink-button routerLink="/login">
          <span>Login</span>
        </app-pink-button>
      </div>
      }
    </div>

  </div>
</header>