<aside class="drawer px-4 py-1.75 left-0 top-0 h-full flex flex-col"
  [ngClass]="{ 'drawer-open': isDrawerOpen, 'drawer-closed': !isDrawerOpen }" (mouseover)="openDrawer()"
  (mouseout)="!drawerOpenUsingMenu && closeDrawer()">

  <div class="top flex justify-between py-4 items-center w-full">
    <button (click)="toggleDrawer()" mat-icon-button class="w-full h-full flex items-center justify-center">
      <mat-icon class="cursor-pointer">menu</mat-icon>
    </button>
    <button [class.content-hidden]="!isDrawerOpen" (click)="openBottomSheet()" mat-icon-button
      class="cursor-pointer w-full h-full flex items-center justify-center">
      <mat-icon class="cursor-pointer">search</mat-icon>
    </button>
  </div>
  <button routerLink="/" matButton style="text-wrap: nowrap;" class="chat my-4 flex justify-start items-center gap-4">
    <mat-icon class="chat-icon">chat_add_on</mat-icon>
    <span class="text-base font-normal" [class.content-hidden]="!isDrawerOpen">New Chat</span>
  </button>
  <div class="sidebar-content-wrapper" style="text-wrap: nowrap;" [class.content-hidden]="!isDrawerOpen">
    <div class="flex-1 mt-4 nav-lists">
      @if (chats$ | async; as chats) {
        @if (chats.length > 0) {
          <!-- 
            This list is sorted by 'updatedAt' from the backend.
            Grouping by date can be added here later if needed.
          -->
          <mat-list class="nav-list">
            @for (chat of chats; track chat._id) {
              <mat-list-item class="nav-list-item">
                <!-- Use routerLink to navigate to the specific chat -->
                <a matButton [routerLink]="['/chat', chat._id]" class="chat-title">{{ chat.title }}</a>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          <!-- Show this if the user has no chats -->
          <p class="text-xs px-3 my-3 font-semibold text-gray-500 uppercase tracking-wider">
            No chats found.
          </p>
        }
      } @else {
        <!-- Optional: Show a loading state while chats are fetched -->
        <p class="text-xs px-3 my-3 font-semibold text-gray-500 uppercase tracking-wider">
          Loading chats...
        </p>
      }
    </div>

  </div>
  <div class="py-5">
    <button matButton [matMenuTriggerFor]="aboveMenu" class="settings flex justify-start items-center gap-4">
      <mat-icon class="settings-icon">brightness_5</mat-icon>
      <span class="text-base font-normal" [class.content-hidden]="!isDrawerOpen">Settings</span>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="after" panelClass="bottom-left-transform-origin">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</aside>